body{
	background-image:url(http://wallpapercave.com/wp/sZYbRxk.jpg);
	background-repeat:no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 140px;
	margin: 0;
}

.result_box{
	width:600px;
	height:200px;  	
	border-radius:10px;
	border:1px solid rgba(255,255,255,.3);
	padding:5px 50px 40px 50px;
	text-align: left;	
    font-family: 'Itim', cursive ,sans-serif; 
    font-size: 26px;   
	text-shadow:0 3px 3px rgba(0,0,0,.5);
	background: rgba(255,255,255,1);
	margin:auto;	
	position: relative;
	filter: drop-shadow(15px 20px 20px gray);
  }
  
img{
  	padding: 5px 50px 40px 690px;
  	margin:auto;
  	background-attachment: fixed;
  	width:200px;
	height:200px;  
	filter: drop-shadow(15px 20px 20px gray);

  }